<app-nav [userId]="userId()"></app-nav>

<div class="instagram-feed">
  <h2 class="text-center my-4 text-primary fw-bold">Instagram Feed</h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8" *ngFor="let item of feedItems()">
        <div class="card mb-4 shadow-sm border-0">
          <div class="card-header bg-white border-bottom-0">
            <h5 class="mb-0 fw-semibold text-dark">{{ item.user.name }}</h5>
          </div>
          <img [src]="item.image_path" class="card-img-top rounded-0" alt="{{ item.caption }}">
          <div class="card-body">
            <p class="card-text text-muted">{{ item.user.name }}: {{ item.caption }}</p>
            <div *ngIf="item.comments && item.comments.length > 0" style="max-height: 200px; overflow-y: auto;">
              <h6 class="text-secondary">Comments:</h6>
              <ul class="list-group list-group-flush">
                <li class="list-group-item bg-light border-0" *ngFor="let comment of item.comments">
                  <strong class="text-primary">{{ comment.userId }}:</strong> {{ comment.content }}
                </li>
              </ul>
            </div>
            <button class="btn btn-link p-0" (click)="toggleCommentInput()">Add a comment</button>
            <div *ngIf="showCommentInput">
              <input type="text" class="form-control mt-2" placeholder="Write a comment..." #comment>
              <button class="btn btn-primary mt-2"
                (click)="postComment(userId(), item.postId, comment.value, item)">Post</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>